*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 30vw;
	max-width: 1440px; 
	height: 70vh;
	border: solid 9px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.cabelo{
	width: 4vw;
	height: 3vh;
	border-radius: 100%;
	border: solid 1px #000;
	border-bottom-color: #fed61e;
	position: absolute;
	top: -1.9vh;
	left: 4.3vw;
}
.cabelo2{
	width: 3vw;
	height: 2vh;
	border-radius: 100%;
	border: solid 1px #000;
	border-bottom-color: #fed61e;
	position: absolute;
	top: 0.5vh;
	left: 0.5vw;
}
.cabeça{
	width: 13vw;
	height: 55vh;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fed61e;
	border-radius: 110px;
	border: solid 3px #000;
	z-index: 5;
	float: left;
	box-shadow: inset 5px 5px 0 2px rgba(255,250,196,0.3);
}
.orelha{
	width: 4vw;
	height: 7vh;
	border-radius: 100%;
	background-color: #fed61e;
	border: solid 3px #000;
	position: absolute;
	top: 33vh;
	z-index: 4;
	float: left;
	box-shadow: inset 5px 5px 0 2px rgba(255,250,196,0.3);
}
.orelha-esquerda{ 
	border-right: transparent;
	left: 18vw;
}
.orelha-direita{
	border-left: transparent;
	right: 18vw;
}
.olho{
	width: 7vw;
	height: 15vh;
	background-color: #fff;
	border-radius: 100%;
	border: solid 2px #000;
	position: absolute;
	top: 17vh;
	z-index: 8;
}
.olho-esquerdo{
	left: -1vw;
}
.olho-direito{
	right: -1vw;
}
.pupila{
	width: 1vw;
	height: 2vh;
	left: 50%;
	background-color: #000;
	border-radius: 100%;
	position: absolute;
	top: 48%;
}
.bulso{
	width: 14vw;
	height: 20vh;
	background-color: #d3a64b;
	border: solid 3px #000;
	border-radius: 50%;
	position: absolute;
	bottom: 1vh;
	left: -0.6vw;
	z-index: 6;
	float: left;
	box-shadow: inset 5px 5px 0 2px rgba(255,250,196,0.3);
}
.boca:before, .boca:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 3;
	top: 5vh;
	left: -3px;
	height: 20px;
	width: 20px;
	border-left: 3px solid #000;
	border-radius: 40%;
	-webkit-transform: rotate(45deg);
}
.boca:after {
	left: auto;
	right: -3px;
	border-left: none;
	border-right: 3px solid #000;
	-webkit-transform: rotate(-45deg);
}
.boca{
	width: 10vw;
	height: 11vh;
	border: solid 5px #000;
	border-radius: 100%;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	position: absolute;
	top: 3.3vh;
	left: 1.7vw;
}
.papinho{
	width: 3vw;
	height: 2vh;
	background-color: #d3a64b;
	border-bottom: solid 2px #000;
	border-radius: 100%;
	position: absolute;
	top: 15vh;
	left: 5vw;
}
.nariz{
	width: 4vw;
	height: 7vh;
	background-color: #fed61e;
	border: solid 2px #000;
	border-top: transparent;
	border-radius: 100%;
	position: absolute;
	top: 28vh;
	left: 34%;
	z-index: 9;
	float: left;
	box-shadow: inset 5px 5px 0 2px rgba(255,250,196,0.3);
}