*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quadro{
	min-width: 575px;
	width: 60%;
	height: 70vh;
	background-color: #90e0e9;
	border: solid 9px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.cabeça{
	width: 28%;
	min-width: 170px;
	height: 50vh;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #cccc22;
	border-radius: 110px;
	border: solid 3px #000;
}
.orelha{
	width: 3%;
	height: 7vh;
	margin-top: 7%;
	background-color: #cccc22;
	border: solid 3px #000;
}
.orelha-esquerda{
	border-top-left-radius: 26px;
	border-bottom-left-radius: 26px; 
	border-right: transparent;
}
.orelha-direita{
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px; 
	border-left: transparent;
}
.testa{
	width: 50%;
	height: 3vh;
	background-color: #cccc22;
	margin-top: 46%;
	border-radius: 20px;
	position: absolute;
	top: 4%;
}
.testa-esquerda{
	border-right: solid 3px #000;
	left: 55%;
}
.testa-direita{
	border-left: solid 3px #000;
	right: 55%;
}
.olho{
	width: 49%;
	height: 15vh;
	background-color: #fff;
	border-radius: 100%;
	border: solid 2px #000;
	position: absolute;
	top: 30%;
	z-index: 1;
}
.olho-esquerdo{
	left: -3%;
}
.olho-direito{
	right: -3%;
}
.pupila{
	width: 17%;
	height: 16px;
	left: 50%;
	background-color: #000;
	border-radius: 100%;
	position: absolute;
	top: 48%;
}
.bulso{
	width: 110%;
	height: 17vh;
	background-color: #ee9a49;
	border: solid 3px #000;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: -4%;
}
.nariz{
	width: 36%;
	height: 12vh;
	background-color: #cccc22;
	border: solid 2px #000;
	border-top: transparent;
	border-bottom-left-radius: 44%;
	border-bottom-right-radius: 44%;
	position: absolute;
	top: 47%;
	left: 32%;
}